@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

    /* base colors */
    --color-primary: #0072FF;
    --color-secondary: #00C6FF;
    --color-accent: #11E496;
    --color-danger: #FF4F64;
    --color-inverted: #FFFFFF; 

    /* background colors light */
    --color-light-100: #FFFFFF;
    --color-light-200: #F0F2F4;
    --color-light-300: #CED2DB;

    /* text colors light */
    --color-light-txt: #1A1A2E;
    --color-light-txt2: #5A5A7A;

    /* background colors dark */
    --color-dark-100: #0F0F1A;
    --color-dark-200: #1C1C2E;
    --color-dark-300: #292945;

    /*  text colors dark */
    --color-dark-txt: #FFFFFF;
    --color-dark-txt2: #BFBFD9;

    /* fonts */
    --font-outfit: "Outfit", sans-serif; 

    /* font sizes */
    --text-normal: 16px
}

@keyframes breathe {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.75; }
}

.animate-breathe {
  animation: breathe 1.5s ease-in-out infinite;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 9999px;
    width: 3px;
}